{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}Meu Admin | {{ title }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Administração Enquetes</a></h1>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/admin-custom.css" %}">
<style>
    /* ajustes rápidos inline se desejar */
    #site-name a {
        font-family: "Arial", sans-serif;
        letter-spacing: 0.05em;
    }
</style>
{% endblock %}